.form {
    width: 60vw;
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: slategray;
    background-size:75px 100px;
}

@media only screen and (max-width: 720px) {
    .imageFormDiv {
        width: 96vw;
    }
    #btn {
        width: 40%;
    }
    #input {
        width: 60%;
    }
}